<!DOCTYPE html>
<html lang="en">
<!--<script src="webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="webjars/bootstrap/3.3.5/css/bootstrap.min.css" />-->
<link rel="stylesheet" href="static/webjars/bootstrap-4.0.0-dist/css/bootstrap.css">

<head>
    <meta charset="UTF-8">
    <title>王氏</title>
</head>
<body>
<h2>hello wanghan</h2>
<div  class="container">
    <h2>Button</h2>
    <p>.btn 类是按钮的基本样式:</p>
    <div class="btn-group">
        <button type="button" class="btn btn-default">按钮 1</button>
        <button type="button" class="btn btn-default">按钮 2</button>
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                下拉
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">下拉链接 1</a></li>
                <li><a href="#">下拉链接 2</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>